{% extends 'base.html'%}

{% block con %}


<div class="container mt-5 mb-5">
    <h1><b>번역기</b></h1>

        <form method="post">
            {% csrf_token %} 
            <div class="row mt-5">
                <div class="col-lg-5">
                    <textarea class="form-control" name="bf" style="height: 300px;" placeholder="번역할 텍스트를 입력해주세요.">{{bf}}</textarea>
                </div>
                <div class="col-lg-2 text-center" style="margin: auto;">
                    <select name="fr" class="form-select" size="7" aria-label="size 7 select example">
                        {% for code, name in ndict.items %}
                            <option value="{{code}}" {% if fr == code %} selected {% endif %}>{{ name }}</option>
                        {% endfor %}
                    </select>
                    <button class="btn btn-outline-dark mt-3 mb-3">번역</button>
                    <select name="to" class="form-select" size="7" aria-label="size 7 select example">
                        {% for code, name in ndict.items %}
                            <option value="{{code}}" {% if to == code %} selected {% endif %}>{{ name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-lg-5">
                    <textarea class="form-control" style="height: 300px;" disabled>{{af}}</textarea>
                </div>
            </div>
        </form>


</div>
{% endblock %}