{% extends 'base.html' %}
{% block con %}
    <div class="container mt-5 mb-5" style="width: 80%;">
        <h1><b>{{ b.subject }}</b></h1>
        
        <div class="row mt-5">
            <div class="col-lg-9">
                <textarea class="form-control" style="height: 250px; font-weight: bold; font-size: large;" disabled>{{ b.content }}</textarea>
            </div>
            <div class="col-lg-3 text-center" style="margin: auto;">
                <img src="{{ b.writer.getpic }}" width="100%">
                <div class="mt-3">
                    <h4>written by <b>{{ b.writer }}</b></h4>
                </div>
                <div class="mt-3 text-end">
                    {{ b.pubdate|date:'Y.m.d H:i' }}
                </div>
            </div>
        </div>


        <div class="text-end mt-4">
            <a href="{% url 'board:index' %}" class="btn btn-dark">글목록</a>

            {% if user in b.likey.all %}
                <a href="{% url 'board:unlikey' b.id %}" class="btn btn-danger">좋아요취소</a>
            {% else %} 
                <a href="{% url 'board:likey' b.id %}" class="btn btn-primary">좋아요</a>
            {% endif %}
           

            {% if user == b.writer %}
                <a href="{% url 'board:update' b.id %}" class="btn btn-secondary">글수정</a>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#a">
                    글삭제
                </button>
            {% endif %}
        </div>

        <hr>

        <form method="post" action="{% url 'board:creply' b.id %}">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-11">
                    <textarea class="form-control" name="com" style="height: 130px;" placeholder="댓글을 남겨주세요."></textarea>
                </div>
                <div class="col-lg-1 text-center" style="margin: auto;">
                    <button class="btn btn-dark">댓글추가</button>
                </div>
            </div>
        </form>

        <hr>

        {% if rlist %}
            {% for i in rlist %}
                <div class="row mb-5">
                    <div class="col-lg-2">
                        <img src="{{ i.replyer.getpic }}" width="100%">
                        <div class="mt-2 text-center">
                            <b>{{ i.replyer }}</b>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <textarea class="form-control" style="height: 120px;" disabled>{{ i.comment }}</textarea>
                    </div>
                    <div class="col-lg-2 text-center" style="margin: auto;">            
                        <a href="{% url 'board:dreply' b.id i.id %}"><button class="btn btn-dark mb-2">댓글삭제</button></a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
                <h3>첫번째 답글을 달아주세요!</h3>
        {% endif %}

        
       
    </div>
    <div class="modal fade" id="a" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b>게시글 삭제 알림</b></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h5>정말로 삭제하시겠습니까?</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <a href="{% url 'board:delete' b.id %}"><button class="btn btn-danger" style="font-weight: bold;">글삭제</button></a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}